---

---

<section class="about" id="about">
  <div class="about-bio">
    <h2 data-nav="About">About Me</h2>
    <slot />
  </div>
  <ul class="tags about-tools">
    <li>HTML / CSS / JS</li>
    <li>GitHub</li>
    <li>Figma</li>
    <li>Adobe Suite</li>
    <li>Blender</li>
    <li>Audio Production</li>
  </ul>
</section>
